%h3 Home
.row
  .small-12.columns.text-center.icons
    =link_to 'https://github.com/ecnalyr' do
      =fa_icon 'github', class: 'icon', id: 'github'
    =link_to 'http://careers.stackoverflow.com/rylance' do
      =fa_icon 'stack-overflow', class: 'icon', id: 'stack-overflow'
    =link_to 'http://www.linkedin.com/pub/jason-rylance/63/974/4a4' do
      =fa_icon 'linkedin', class: 'icon', id: 'linkedin'
    =link_to 'https://www.facebook.com/jason.rylance' do
      =fa_icon 'facebook', class: 'icon', id: 'facebook'
    =link_to 'https://twitter.com/ecnalyr' do
      =fa_icon 'twitter', class: 'icon', id: 'twitter'
